<html>
    <head>
        <title>JoelJoe's new blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">JoelJoe Blog</a></h1>
        </div>

        <div>
            <p>published: 11.12.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Walking in the moonlight, I'm thinking of you. Listening to the raindrops, I'm thinking of You.. Hey Salomaa, Oooo,OOOooo.</p>
        </div>

        <div>
            <p>published: 14.12.2017, 05:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
